@media (min-width: 768px) {

	.past-work-header {
		text-align: left;
	}

	.work-title {
		border-style: solid;
		padding-bottom: 9px;
		border-bottom-width: 1px;
		border-left-width: 0px;
		border-top-width: 0px;
		border-right-width: 0px;
	}
}