@media (min-width: 992px) {

	body {
		margin-right: auto;
		margin-left: auto;
	}

	.past-work-header {
		font-size: 40px;
		padding-left: 10px;
		margin-top: 30px;
	}

	.work-title {
		font-size: 30px;
		border-style: none;
		padding-bottom: 0;
		text-align: center;
	}

	.work-description {
		font-size: 12px;
	}

	.work-example {
		margin-top: 10px;
	}
}